.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #223146;
  }
  
  .navBar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .navBar a:hover {
    background-color: #555;
  }
  